<div class="movie-card">
  <div class="movie-header">
    <h2>{{time}} - {{name}}</h2>
    <span class="channel-name">{{channel}}</span>
  </div>
  {{#if poster}}
  <img src="{{poster}}" alt="{{name}}" class="movie-poster">
  {{/if}}
  <div class="movie-info">
    {{content}}
  </div>
  {{#if frames}}
  <div class="movie-frames">
    {{#each frames}}
    <img src="{{this}}" alt="Кадр из {{../name}}" class="movie-frame">
    {{/each}}
  </div>
  {{/if}}
  <p class="rating">Рейтинг: {{rating}}</p>
  <p class="description">{{description}}</p>
  <a href="{{link}}" target="_blank">Подробнее на Mail.ru</a>
</div>
