<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ТВ Программа на {{date}}</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <header>
    <h1>ТВ Программа на {{date}}</h1>
  </header>
  <main>
    <div class="movies-container">
      {{content}}
    </div>
  </main>
  <footer>
    <p>Обновлено: {{date}}</p>
  </footer>

  <script type="module">
    const container = document.querySelector('.movies-container');
    container.addEventListener('click', (event) => {
      const target = event.target;
      const elemFrameResize = document.querySelector('.movie-frame-resize');
      if (elemFrameResize) {
        const frameResize = target.closest('.movie-frame-resize');
        elemFrameResize.remove();
        if (frameResize) return;
      }
      const frame = target.closest('.movie-frame');
      if (frame) {
        const clonedFrame = frame.cloneNode(true);
        clonedFrame.classList.add('movie-frame-resize');
        container.appendChild(clonedFrame);
      }
    })
  </script>

</body>

</html>
